<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>chs</key>
			<string>[1f01]</string>
			<key>png</key>
			<string>1f01</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[1f02]</string>
			<key>png</key>
			<string>1f02</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[1f03]</string>
			<key>png</key>
			<string>1f03</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[1f04]</string>
			<key>png</key>
			<string>1f04</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[1f05]</string>
			<key>png</key>
			<string>1f05</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[1f06]</string>
			<key>png</key>
			<string>1f06</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[1f07]</string>
			<key>png</key>
			<string>1f07</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[1f08]</string>
			<key>png</key>
			<string>1f08</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[1f09]</string>
			<key>png</key>
			<string>1f09</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[1f10]</string>
			<key>png</key>
			<string>1f10</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[1f11]</string>
			<key>png</key>
			<string>1f11</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[1f12]</string>
			<key>png</key>
			<string>1f12</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[1f13]</string>
			<key>png</key>
			<string>1f13</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[1f14]</string>
			<key>png</key>
			<string>1f14</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[1f15]</string>
			<key>png</key>
			<string>1f15</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[1f16]</string>
			<key>png</key>
			<string>1f16</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[1f17]</string>
			<key>png</key>
			<string>1f17</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[1f18]</string>
			<key>png</key>
			<string>1f18</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[1f19]</string>
			<key>png</key>
			<string>1f19</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[1f20]</string>
			<key>png</key>
			<string>1f20</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[1f21]</string>
			<key>png</key>
			<string>1f21</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[1f22]</string>
			<key>png</key>
			<string>1f22</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[1f23]</string>
			<key>png</key>
			<string>1f23</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[1f24]</string>
			<key>png</key>
			<string>1f24</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[1f25]</string>
			<key>png</key>
			<string>1f25</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[1f26]</string>
			<key>png</key>
			<string>1f26</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>chs</key>
			<string>[1f27]</string>
			<key>png</key>
			<string>1f27</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[1f28]</string>
			<key>png</key>
			<string>1f28</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[1f29]</string>
			<key>png</key>
			<string>1f29</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[1f30]</string>
			<key>png</key>
			<string>1f30</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[1f31]</string>
			<key>png</key>
			<string>1f31</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[1f32]</string>
			<key>png</key>
			<string>1f32</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[1f33]</string>
			<key>png</key>
			<string>1f33</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[1f34]</string>
			<key>png</key>
			<string>1f34</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[1f35]</string>
			<key>png</key>
			<string>1f35</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>chs</key>
			<string>[1f36]</string>
			<key>png</key>
			<string>1f36</string>
		</dict>
	</array>
</array>
</plist>
