<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>name</key>
			<string>照片</string>
			<key>png</key>
			<string>chat_bottom_photo_press</string>
		</dict>
		<dict>
			<key>name</key>
			<string>拍摄</string>
			<key>png</key>
			<string>aio_icons_pacamera</string>
		</dict>
		<dict>
			<key>name</key>
			<string>位置</string>
			<key>png</key>
			<string>aio_icons_location</string>
		</dict>
		<dict>
			<key>name</key>
			<string>音乐</string>
			<key>png</key>
			<string>aio_icons_music</string>
		</dict>
		<dict>
			<key>name</key>
			<string>红包</string>
			<key>png</key>
			<string>aio_icons_red_pack</string>
		</dict>
		<dict>
			<key>name</key>
			<string>电话</string>
			<key>png</key>
			<string>aio_icons_freeaudio</string>
		</dict>
		<dict>
			<key>name</key>
			<string>文件</string>
			<key>png</key>
			<string>aio_icons_folder</string>
		</dict>
		<dict>
			<key>name</key>
			<string>收藏</string>
			<key>png</key>
			<string>aio_icons_favorite</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>推荐好友</string>
			<key>png</key>
			<string>aio_icons_share_nameplate</string>
		</dict>
		<dict>
			<key>name</key>
			<string>抖一抖</string>
			<key>png</key>
			<string>aio_icons_shake</string>
		</dict>
		<dict>
			<key>name</key>
			<string>短视频</string>
			<key>png</key>
			<string>aio_icons_shotmovie</string>
		</dict>
		<dict>
			<key>name</key>
			<string>转账</string>
			<key>png</key>
			<string>aio_icons_transfer</string>
		</dict>
		<dict>
			<key>name</key>
			<string>视频电话</string>
			<key>png</key>
			<string>aio_icons_video</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>name</key>
			<string>推荐好友</string>
			<key>png</key>
			<string>aio_icons_share_nameplate</string>
		</dict>
		<dict>
			<key>name</key>
			<string>抖一抖</string>
			<key>png</key>
			<string>aio_icons_shake</string>
		</dict>
		<dict>
			<key>name</key>
			<string>短视频</string>
			<key>png</key>
			<string>aio_icons_shotmovie</string>
		</dict>
		<dict>
			<key>name</key>
			<string>转账</string>
			<key>png</key>
			<string>aio_icons_transfer</string>
		</dict>
		<dict>
			<key>name</key>
			<string>视频电话</string>
			<key>png</key>
			<string>aio_icons_video</string>
		</dict>
	</array>
</array>
</plist>
