<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>nickName</key>
		<string>Simon</string>
		<key>message</key>
		<string>请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382.......请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382.....请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382....</string>
		<key>u</key>
		<string>6个月以前</string>
		<key>images</key>
		<array>
			<string>0.jpg</string>
			<string>1.jpg</string>
			<string>2.jpg</string>
		</array>
	</dict>
	<dict>
		<key>nickName</key>
		<string>Simon</string>
		<key>message</key>
		<string>请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382</string>
		<key>time</key>
		<string>4个月以前</string>
		<key>images</key>
		<array>
			<string>4.jpg</string>
			<string>1.jpg</string>
			<string>11.jpg</string>
			<string>19.jpg</string>
			<string>20.jpg</string>
			<string>16.jpg</string>
			<string>14.jpg</string>
			<string>10.jpg</string>
			<string>9.jpg</string>
		</array>
	</dict>
	<dict>
		<key>nickName</key>
		<string>Simon</string>
		<key>message</key>
		<string>请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382.....请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382.......请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382......请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382......请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382....</string>
		<key>time</key>
		<string>1个月以前</string>
	</dict>
	<dict>
		<key>nickName</key>
		<string>Simon</string>
		<key>message</key>
		<string>请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382.......请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382</string>
		<key>time</key>
		<string>6个月以前</string>
		<key>images</key>
		<array>
			<string>0.jpg</string>
			<string>2.jpg</string>
			<string>21.jpg</string>
			<string>22.jpg</string>
			<string>23.jpg</string>
			<string>24.jpg</string>
		</array>
	</dict>
	<dict>
		<key>nickName</key>
		<string>Simon</string>
		<key>message</key>
		<string>请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382....</string>
		<key>time</key>
		<string>6个月以前</string>
		<key>images</key>
		<array>
			<string>0.jpg</string>
			<string>1.jpg</string>
			<string>2.jpg</string>
		</array>
	</dict>
	<dict>
		<key>nickName</key>
		<string>Simon</string>
		<key>message</key>
		<string>请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382......请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382......请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382.......请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382......请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382.......请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382.....请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382.....请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382.......</string>
		<key>time</key>
		<string>6个月以前</string>
		<key>images</key>
		<array>
			<string>26.jpg</string>
		</array>
	</dict>
	<dict>
		<key>nickName</key>
		<string>Simon</string>
		<key>message</key>
		<string>请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382....请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382</string>
		<key>time</key>
		<string>9个月以前</string>
		<key>images</key>
		<array>
			<string>5.jpg</string>
			<string>1.jpg</string>
			<string>2.jpg</string>
			<string>6.jpg</string>
		</array>
	</dict>
	<dict>
		<key>nickName</key>
		<string>Simon</string>
		<key>message</key>
		<string>请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382.........</string>
		<key>time</key>
		<string>6个月以前</string>
		<key>images</key>
		<array>
			<string>0.jpg</string>
			<string>1.jpg</string>
			<string>2.jpg</string>
		</array>
	</dict>
	<dict>
		<key>nickName</key>
		<string>Simon</string>
		<key>message</key>
		<string>请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382.....</string>
		<key>time</key>
		<string>10个月以前</string>
		<key>images</key>
		<array>
			<string>12.jpg</string>
			<string>13.jpg</string>
			<string>14.jpg</string>
			<string>10.jpg</string>
		</array>
	</dict>
	<dict>
		<key>nickName</key>
		<string>Simon</string>
		<key>message</key>
		<string>请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382.......</string>
		<key>time</key>
		<string>半年前</string>
		<key>images</key>
		<array>
			<string>3.jpg</string>
			<string>8.jpg</string>
			<string>9.jpg</string>
		</array>
	</dict>
	<dict>
		<key>nickName</key>
		<string>Simon</string>
		<key>message</key>
		<string>请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382......请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382...请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382.......请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382....请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382......请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382</string>
		<key>time</key>
		<string>1个月以前</string>
		<key>images</key>
		<array>
			<string>0.jpg</string>
			<string>1.jpg</string>
			<string>2.jpg</string>
			<string>19.jpg</string>
			<string>20.jpg</string>
		</array>
	</dict>
	<dict>
		<key>nickName</key>
		<string>Simon</string>
		<key>message</key>
		<string>请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382.....请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382.......请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382....</string>
		<key>time</key>
		<string>4个月以前</string>
		<key>images</key>
		<array>
			<string>0.jpg</string>
			<string>1.jpg</string>
			<string>2.jpg</string>
			<string>19.jpg</string>
		</array>
	</dict>
	<dict>
		<key>nickName</key>
		<string>Simon</string>
		<key>message</key>
		<string>请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382.....请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382.....请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382....</string>
		<key>time</key>
		<string>6个月以前</string>
	</dict>
	<dict>
		<key>nickName</key>
		<string>Simon</string>
		<key>message</key>
		<string>请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382</string>
		<key>time</key>
		<string>18个月以前</string>
		<key>images</key>
		<array>
			<string>19.jpg</string>
			<string>1.jpg</string>
			<string>2.jpg</string>
			<string>20.jpg</string>
		</array>
	</dict>
	<dict>
		<key>nickName</key>
		<string>Simon</string>
		<key>message</key>
		<string>请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382....请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382...</string>
		<key>time</key>
		<string>8个月以前</string>
		<key>images</key>
		<array>
			<string>0.jpg</string>
		</array>
	</dict>
	<dict>
		<key>nickName</key>
		<string>Simon</string>
		<key>message</key>
		<string>请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382...请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382....请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382...</string>
		<key>time</key>
		<string>6个月以前</string>
		<key>images</key>
		<array>
			<string>0.jpg</string>
			<string>1.jpg</string>
			<string>2.jpg</string>
		</array>
	</dict>
	<dict>
		<key>nickName</key>
		<string>Simon</string>
		<key>message</key>
		<string>请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382.....</string>
		<key>time</key>
		<string>6个月以前</string>
		<key>images</key>
		<array>
			<string>0.jpg</string>
			<string>1.jpg</string>
			<string>2.jpg</string>
		</array>
	</dict>
	<dict>
		<key>nickName</key>
		<string>Simon</string>
		<key>message</key>
		<string>请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382....请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382..请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382....请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382....请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382...请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382...请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382...请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382..</string>
		<key>time</key>
		<string>6个月以前</string>
		<key>images</key>
		<array>
			<string>0.jpg</string>
			<string>1.jpg</string>
			<string>2.jpg</string>
		</array>
	</dict>
	<dict>
		<key>nickName</key>
		<string>Simon</string>
		<key>message</key>
		<string>请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382</string>
		<key>time</key>
		<string>6个月以前</string>
		<key>images</key>
		<array>
			<string>25.jpg</string>
		</array>
	</dict>
	<dict>
		<key>nickName</key>
		<string>Simon</string>
		<key>message</key>
		<string>请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382...请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382....请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382..</string>
		<key>time</key>
		<string>6个月以前</string>
		<key>images</key>
		<array>
			<string>0.jpg</string>
			<string>1.jpg</string>
			<string>2.jpg</string>
		</array>
	</dict>
	<dict>
		<key>nickName</key>
		<string>Simon</string>
		<key>message</key>
		<string>请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382....请关注 https://github.com/icoderRo/LCWeChat 如有帮助,请于右上角star 以兹鼓励 ,后面陆续完善功能 有问题欢迎加 iOS 即时通讯交流QQ群 群号 :475814382..</string>
		<key>time</key>
		<string>10个月以前</string>
		<key>images</key>
		<array>
			<string>24.jpg</string>
		</array>
	</dict>
</array>
</plist>
